
  </div> 
</main>
  <!-- footer at bottom -->
  <footer class="border-t bg-white mt-8">
    <div class="mx-auto max-w-6xl px-6 py-6 text-center text-xs text-gray-500">
        Made by Puri Sangnawakit 682115036 </br>
        College of Arts, Media and Technology, Chiang Mai University
    </div>
  </footer>
</body>
